<!DOCTYPE html>
<html ng-app="story">
  <head>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <title>Livingstory</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <div ng-controller="MainCtrl">
      <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-3 sidenav">
            <h4>John's Blog</h4>
            <br>
          </div>
           <div class="col-sm-9">
            here is the story
            <div ng-controller="ImagesCtrl" class="images-wrapper">
            <div ng-include src="'/images.html'">
            </div>
              <!-- <div ng-repeat="(key, value) in MainCtrl.images" ></div> -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div>
                <textarea  msd-elastic ng-model="foo"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
