<div class="row">
  <div class="col-sm-2"></div>
  <div class="scroller col-sm-10">
      <span class="nga-default nga-stagger nga-slide-right" ng-repeat="(key, value) in images track by $index">
        <span class="image-wrapper">
          <img  ng-src="{{value.imgUrl}}">
        </span>
      </span>
      <div>
        <div  class="nga-default nga-stagger nga-slide-down main-img" ng-repeat="(key, value) in mainImg ">
          <div style="background-image: url({{value}})"></div>
          <img imageonload ng-src="{{value.imgUrl}}">
        </div>
      </div>
  </div>
</div>
