body
  font-family: 'Gloria Hallelujah', cursive
  background-image: url("/bg.jpg")
  height: 940px
.logo
  background-repeat: no-repeat
  background-position: left top
  background-image: url("/Logo.png")
textarea
  width: 100%
  border: none
  background: transparent
  border-bottom: none
  outline: none
  padding-left: 72px
  padding-top: 30px
  line-height: 47px !important
.sidenav-margin
  height: 743px
  margin-top: 135px
  background-repeat: no-repeat
  background-position: left top
  background-image: url("/Paper.png")
.book
  height: 902px
  margin-top: 10px
  background-repeat: no-repeat
  background-position: left top
  background-image: url("/Book.png")
.scroller
  overflow-y: auto
  overflow-x: hidden
  height: 500px
